-i https://pypi.org/simple/
atomicwrites==1.4.0
attrs==21.2.0
importlib-metadata==4.4.0 ; python_version < '3.8'
more-itertools==8.8.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==5.2.2
selenium==3.141.0
typing-extensions==3.10.0.0 ; python_version < '3.8'
urllib3==1.26.5
wcwidth==0.2.5
zipp==3.4.1
